body
{
    text-align: center;
}

img
{
    width: 10%;
    height: auto;
}

p
{
    font-size: 15;
    font-weight: bold;
}

a
{
    color: red;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}
